

<aside>
	<div class="container">
		<nav>
            <header>
                <h3>Vicky Chuqiao Yang</h3>  
            </header>
			<ul>
            
            <li><a href="/#!/page_Home/">About</a></li>   
            <li><a href="/publications/">Publications</a></li>
            <li><a href="/articles/">Online Articles</a></li>   
            <li><a href="/contact/">Contact</a></li>   

                
                
	<!---			{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li> 
				{% endif %} {% endfor %}
         -->        
                    
<!--
				<li><a href="{{ "/demo" | prepend: site.baseurl }}">Demos</a></li>
-->
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>


 